@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost&family=Raleway:wght@100&family=Roboto&display=swap');
body, html {
  background: #080707;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s;
  .line{
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  
  @media all and (max-width: 768px) {
    align-items: center;
    padding: 10px 25px;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 1;
  }

  &-logotype {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    @media all and (max-width: 768px){
      display: none;
    }

    li {
      display: flex;
      a {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 56px;
        border-left: 1px solid rgba(255, 255, 255, 0.15);
        padding: 0 24px;
        transition: border ease .3s, color ease .3s;

        color: #707476;
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
        font-family: "Space Grotesk" , sans-serif;

        &.active,
        &:hover{
          border-left: 1px solid rgba(255, 255, 255, 1);
          color: #fff;
        }
      }
    }
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media all and (max-width: 768px){
  .header-nav.show{
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.98);
    li{
      a{
        border-left: none;
        align-items: center;
      }
    }
  }
  .burger-menu{
    display: flex;
  }
}
.header-nav.show + .burger-menu {
  position: fixed;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  color: white;
  border-radius: 32px;
  transition: color ease .3s, border ease .3s, background ease .3s;
}

.btn-md {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 16px;
}

.btn-header {
  font-weight: 800;
}

.btn-white {
  color: #080707;
  background: white;

  &:hover {
    color: #ffffff;
    background: #005AE2;
  }
}

.btn-blue {
  color: white;
  background: #277DFF;

  &:hover {
    background: #579AFF;
  }
  &:active {
    background: #1760CE;
  }
}

.btn-gradient-icon{
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 9999px;
  background: radial-gradient(821.99% 271.24% at -36.22% 213.33%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%), #277DFF;
  color: #080707;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  svg{
    width: 24px;
    height: 16px;
    stroke-width: 4px;
    stroke: #080707;
  }
}

.btn-bordered {
  border: 2px solid white;
  &.btn-md {
    padding: 10px 24px;
  }
  &:hover {
    background: white;
    color: #080707;
  }
}

.btn-gradient {
  color: #070B20;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  padding: 20px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  background: radial-gradient(821.99% 271.24% at -36.22% 213.33%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%);
  &:hover {
    &:before {
      opacity: 0.25;
    }
  }
  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity ease .3s;

  }
}

.main {
  padding-top: 120px;
  position: relative;
  @media all and (max-width: 768px){
    padding: 30px 25px 0;
  }
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 848px;
    background: url('/assets/images/main-bg.webp') no-repeat center/cover;
    z-index: -1;
  }

  &-email {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    overflow: hidden;
    width: max-content;
  }

  &-input {
    position: relative;
    input {
      display: flex;
      padding: 20px 24px;
      justify-content: center;
      align-items: center;
      gap: 24px;
      background: rgba(30, 33, 36, 0.25);
      backdrop-filter: blur(120px);
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      outline: none;
      border: none;

      transition: border ease .3s, background-color ease .3s;

      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        border: none;
        background: rgba(44, 48, 52, 0.25);
      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
    @media all and (max-width: 768px) {
      justify-content: center;
      margin-bottom: 32px;
    }
    &__left {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 50%;
      @media all and (max-width: 768px) {
        align-items: center;
        gap: 30px;
        width: 100%;
      }
    }
    &__right {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 50%;
      height: 100%;
      img {
        position: absolute;
        width: 869px;
        top: -130px;
        pointer-events: none;
      }
      @media all and (max-width: 1024px) {
        width: 25%;
        height: 50%;
      }
      @media all and (max-width: 768px) {
        display: none;
      }
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      font-size: 62px;
      font-weight: 700;
      line-height: 125%;
      background: radial-gradient(200% 300% at 0% 150%, #FFF -150%, #85F7E2 35%, #FFB60E 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Space Grotesk', sans-serif;
      @media all and (max-width: 768px) {
        font-size: 44px;
        display: flex;
        justify-content: center;
      }
    }

    p {
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
      margin: 0;
      span {
        color: #FFBE27;
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
      }
    }
  }

  &-features {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #DAE9FF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    svg {
      fill: #FFBE27;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  transition: fill ease .3s;
}

.stats {
  @media all and (max-width: 768px) {
    padding: 0 25px;
  }
  &-content {
    position: relative;
    display: flex;
    width: 100%;
    padding: 56px 0;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(64px);
    font-family: "Space Grotesk", sans-serif;
    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('/assets/images/pattern.svg') no-repeat;
      pointer-events: none;
    }
    @media all and (max-width: 768px) {
      padding: 28px 0;
      flex-direction: column;
    }
    li {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      &:not(:last-child) {
        border-right: 2px solid rgba(255, 255, 255, 0.05);
      }
      h4 {
        color: #FFBE27;
        text-shadow: 0 0 32px rgba(255, 190, 39, 0.25);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
      p {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-transform: uppercase;
      }
    }
  }
}

.content-title{
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  @media all and (max-width: 768px){
    text-align: center;
  }
}

.benefits{
  position: relative;
  z-index: 1;
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 64px 0 0;
    gap: 32px;
    @media all and (max-width: 768px){
      padding: 32px 25px;
      gap: 16px;
    }
    &-column{
      display: flex;
      align-items: center;
      gap: 16px;
      align-self: stretch;
      @media all and (max-width: 768px){
        flex-direction: column;
      }

      &-cart{
        display: flex;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 1 0;
        align-self: stretch;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.07);
        background: rgba(255, 255, 255, 0.07) url("../../images/benefits-cart-bg.svg");
        backdrop-filter: blur(64px);
        &:hover{
          background: radial-gradient(378.77% 373.42% at -54.69% 174.26%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%), #1F2329;
          &:hover .benefits-content-column-cart__title{
            color: #080707;
          }
          &:hover .benefits-content-column-cart__description{
            color: #080707;
            opacity: 0.65;
          }
          &:hover .line{
            opacity: 0.25;
            background: #080707;
          }
          &:hover svg{
            fill: #080707;
          }
        }
        @media all and (max-width: 768px){
          align-items: center;
        }
        svg{
          width: 32px;
          height: 32px;
          fill: white;
        }
        &__title{
          align-self: stretch;
          font-family: "Space Grotesk", sans-serif;
          font-weight: 700;
          font-size: 24px;
          color: white;
          line-height: 150%;
          @media all and (max-width: 768px){
            display: flex;
            justify-content: center;
            text-align: center;
          }
        }
        .line{
          width: 240px;
          height: 1px;
          opacity: 0.25;
          background: #FFF;
        }
        &__description{
          font-size: 16px;
          color: #DAE9FF;
          font-weight: 400;
          line-height: 150%;
        }
      }
    }
  }
}
.started{
  position: relative;
  z-index: 2;
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 64px;
    padding: 64px 0;
    &-up{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;
      align-self: stretch;
      &-titles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        &__subtitle{
          color: #FFF;
          text-align: center;
          font-size: 16px;
          font-weight: 500;
          line-height: 150%;
        }
      }
      &-column{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        &-cart{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px;
          flex: 1 0 0;
          border-right: 1px solid rgba(255, 255, 255, 0.05);
          &:last-child{
            border-right: none;
          }
          svg{
            width: 32px;
            height: 32px;
            fill: white;
          }
          &-titles{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            &__title{
              color: #FFF;
              text-align: center;
              font-family: "Space Grotesk", sans-serif;
              font-size: 16px;
              font-weight: 700;
              line-height: 150%;
            }
            &__description{
              color: #FFF;
              text-align: center;
              align-self: stretch;
              font-size: 12px;
              font-weight: 500;
              line-height: 150%;
            }
          }
        }
      }
    }
    &-buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      p{
        color: #FFF;
        text-align: center;
        font-family: "Space Grotesk", sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }
}
.works{
  position: relative;
  margin-bottom: 64px;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1364px;
    background: url('/assets/images/hiw_bg.webp') no-repeat center/cover;
    z-index: -3;
  }
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
    @media all and (max-width: 1200px){
      padding: 0 25px;
    }
    &-main{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 32px;
      align-self: stretch;
      &-column{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        @media all and (max-width: 768px){
          flex-direction: column;
        }
        &-cart{
          display: flex;
          padding: 40px 32px 24px 32px;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          flex: 1 0 0;
          align-self: stretch;
          border-right: 1px solid #080707;
          background: rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(12px);
          @media all and (max-width: 1200px){
            justify-content: center;
          }
          &:first-child{
            border-radius: 20px 0 0 20px ;
            @media all and (max-width: 1200px){
              border-radius: 20px 20px 0 0 ;
            }
          }
          &:last-child{
            border-right: none;
            border-radius: 0 20px 20px 0;
            @media all and (max-width: 1200px){
              border-radius: 0 0 20px 20px;
            }
          }
          &__title{
            align-self: stretch;
            color: #FFF;
            text-align: center;
            font-family: "Space Grotesk", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 16px;
          }
          &__description{
            align-self: stretch;
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
          }
          img{
            height: 208px;
            align-self: stretch;
            @media all and (max-width: 1200px){
              height: 50%;
              width: 100%;
            }
            @media all and (max-width: 768px){
              height: 50%;
              width: 25%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
.reviews{
  position: relative;
  z-index: 1;
  @media all and (max-width: 768px){
    padding: 25px;
  }
  &-content{
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
    &-column{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      &-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        &-icon{
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          border-radius: 20px;
          border-right: 1px solid #080707;
          background: rgba(255, 255, 255, 0.05);
          svg{
            fill: white;
            width: 24px;
            height: 24px;
          }
        }
        &-titles{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          &__title{
            color: #FFF;
            text-align: center;
            font-family: "Space Grotesk", sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            max-width: 236px;
          }
          &__description{
            color: #FFF;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            line-height: 150%;
            max-width: 236px;
          }
        }
      }
    }
    &-container{
      display: flex;
      padding: 0 40px;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      border-radius: 20px;
      &-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 20px;
        &-item{
          display: flex;
          //width: 320px;
          padding: 40px 32px 24px 32px;
          flex-direction: column;
          align-items: center;
          gap: 24px;
          border-radius: 20px;
          border-right: 1px solid #080707;
          background: rgba(255, 255, 255, 0.05);
          &-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            &-up{
              display: flex;
              align-items: center;
              gap: 10px;
              align-self: stretch;
              &__title{
                flex: 1 0 0;
                color: #FFF;
                font-family: "Space Grotesk", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 16px;
              }
              &-starlist{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 8px;
                svg{
                  fill: #24E476;
                  width: 12px;
                  height: 12px;
                }
              }
            }
            &__description{
              align-self: stretch;
              color: #FFF;
              font-size: 14px;
              font-weight: 500;
              line-height: 150%;
            }
          }
          &-customer{
            display: flex;
            width: 262.286px;
            justify-content: space-between;
            align-items: center;
            &-info{
              display: flex;
              align-items: center;
              gap: 10px;
              svg{
                width: 24px;
                height: 24px;
              }
              &-data{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                &__name{
                  color: #FFF;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 16px;
                }
                &__date{
                  color: #FFF;
                  text-align: center;
                  font-size: 10px;
                  font-weight: 700;
                  line-height: 16px;
                  opacity: 0.25;
                }
              }
            }
            &-checked{
              display: flex;
              align-items: center;
              gap: 8px;
              &__title{
                color: #FFF;
                font-size: 10px;
                font-weight: 700;
                line-height: 16px;
                opacity: 0.25;
              }
              svg{
                width: 12px;
                height: 12px;
                fill: #70D2E8;
              }
            }
          }
        }
      }
    }
  }
}
.info{
  position: relative;
  z-index: 1;
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1364px;
    background: url('/assets/images/cta_bg.webp') no-repeat center/cover;
    z-index: -1;
  }
  &-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 64px;
    &-titles{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      &__description{
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        max-width: 324px;;
        span{
          color: #FFB60E;
          font-size: 16px;
          font-weight: 900;
          line-height: 150%;
        }
      }
    }
    &-text{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 32px;
      &-item{
        display: flex;
        align-items: center;
        gap: 8px;
        svg{
          width: 12px;
          height: 12px;
          fill: #FFF;
        }
        &__title{
          color: #FFF;
          text-align: center;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
        }
      }
    }
  }
}
.faq {
  position: relative;
  z-index: 1;
  @media all and (max-width: 1200px){
    padding: 0 25px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    margin-bottom: 64px;

    &-questions {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      @media all and (max-width: 768px){
        flex-direction: column;
        align-items: center;
      }

      &-left, &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        @media all and (max-width: 768px){
          width: 100%;
        }

        &-item {
          display: flex;
          padding: 16px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          border-radius: 20px;
          background: rgba(255, 255, 255, 0.05);

          &-left {
            display: flex;
            align-items: center;
            gap: 16px;
            cursor: pointer;

            &-icon {
              display: flex;
              width: 24px;
              height: 24px;
              justify-content: center;
              align-items: center;

              svg {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
              }
            }

            &__title {
              color: #FFF;
              font-family: "Space Grotesk", sans-serif;
              font-size: 16px;
              font-weight: 700;
              line-height: 16px;
              flex: 1 1 0;
            }

            &-right {
              display: flex;
              padding: 8px;
              flex-direction: column;
              align-items: center;
              gap: 10px;
              border-radius: 20px;

              svg {
                width: 8px;
                height: 8px;
                fill: white;
                //cursor: pointer;
              }
            }
          }

          &-description {
            display: flex;
            padding-left: 12px;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;

            &__text {
              display: flex;
              padding-left: 28px;
              //padding: 16px 0 0 28px;
              align-items: flex-start;
              gap: 10px;
              flex: 1 0 0;
              border-left: 1px solid rgba(255, 255, 255, 0.10);
              color: var(--Pure-colors-White, #FFF);
              font-size: 14px;
              font-weight: 400;
              line-height: 150%;
            }
          }
        }
      }
    }
  }
}
  details[open] summary{
    margin-bottom: 16px;
    .faq-content-questions-left-item-left-right, .faq-content-questions-right-item-left-right{
      svg{
        transform: rotate(180deg)
      }
    }
  }
  .footer {
    background: #000;
    position: relative;
    z-index: 1;
    @media all and (max-width: 1200px){
      padding: 0 25px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-top {
        display: flex;
        padding: 32px 0;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        border-top: 1px solid rgba(197, 235, 255, 0.00);
        background: var(--Pure-colors-Black, #000);
        backdrop-filter: blur(40px);
        @media all and (max-width: 1130px){
          flex-direction: column;
          align-items: center;
          gap: 29px;
        }

        &-left {
          display: flex;
          align-items: flex-start;
          gap: 58px;
          @media all and (max-width: 1130px){
            flex-direction: column;
            align-items: center;
            gap: 29px;
          }

          &-logo {
            display: flex;
            align-items: center;
            gap: 16px;

            &-img {
              width: 26px;
              height: 38px;
            }

            &__title {
              color: #FFF;
              font-family: "Space Grotesk", sans-serif;
              font-size: 24px;
              font-weight: 700;
              line-height: 30px;
            }
          }

          &-column {
            display: flex;
            align-items: flex-start;
            gap: 32px;
            @media all and (max-width: 530px){
              flex-direction: column;
              align-items: center;
            }

            &-explore, &-services {
              display: flex;
              width: 180px;
              padding: 24px;
              flex-direction: column;
              align-items: flex-start;
              gap: 16px;
              border-radius: 20px;
              background: rgba(31, 35, 41, 0.50);

              &__title {
                color: #FFF;
                font-family: "Space Grotesk", sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
              }

              &-links {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                align-self: stretch;

                &-item {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  align-self: stretch;

                  p {
                    color: #686E73;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                  }

                  svg {
                    width: 8.5px;
                    height: 8.5px;
                  }
                }
              }
            }
          }
        }

        &-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 30px;
          @media all and (max-width: 1130px){
            flex-direction: column;
            align-items: center;
          }

          &-social {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 16px;

            &__title {
              color: #FFF;
              font-size: 12px;
              font-weight: 700;
              line-height: 16px;
              text-transform: uppercase;
              opacity: 0.25;
            }

            svg {
              width: 24px;
              height: 24px;
              fill: #495059;
            }
          }

          &-payments {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 16px;

            &-up, &-down {
              display: flex;
              align-items: flex-start;
              gap: 16px;

              &-icon {
                display: flex;
                width: 24px;
                height: 24px;
                padding: 6px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;

                svg {
                  width: 36px;
                  height: 11px;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
      }

      &-bottom {
        display: flex;
        padding: 16px 0;
        align-items: center;
        gap: 325px;
        align-self: stretch;
        border-top: 1px solid rgba(197, 235, 255, 0.00);
        background: var(--Pure-colors-Black, #000);
        backdrop-filter: blur(40px);
        @media all and (max-width: 1130px){
          justify-content: center;
        }

        &__copy {
          color: var(--Pure-colors-White, #FFF);
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          opacity: 0.5;
        }
      }
    }
  }
