<div class="body-content-wpr">
    <div class="page-content-overlay"></div>
    <div class="bonus-banner">
        <div class="bonus-bnr-content">
            <h2 class="bonusbnr-title">Biggest New Year Bonuses Ever!
            </h2>
            <p class="bonusbnr-txt">
                With Naizop, you always get something extra. Get a Free additional balance on every deposit with these unbelievably huge bonuses, and crush your social media goals today!
                Up to 30% / $15,000+ Bonus.
            </p>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now</a>
        </div>
    </div>

    <div class="row boxx">
        <div class="col-sm-3 how-box">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
                      <span class="f-sp">
                        5%
                        </span>

                    <!--<img src="https://cdn.mypanel.link/0a268b/08fkwxz3fjout7aw.png " alt=""> -->
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $250 <small>or Below</small>
                    </div>
                </div>
            </div>
            <!--<div class="how-box-left">
              <span class="how-box-icon">
              <i class="fa-solid fa-user-plus"></i>
                <img src="https://cdn.mypanel.link/0a268b/08fkwxz3fjout7aw.png " alt="">
              </span>
            </div> -->
            <!--<div class="how-box-right">
              <h3 class="how-box-title">Deposit</h3>
              <p class="how-box-txt txt">$250 <small>or Below</small></p>
            </div> -->
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now
                <i class="rightt"></i>
            </a>

        </div>
        <div class="col-sm-3 how-box1">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
   <span class="f-sp">
                    7.5%
                        </span>
                    <!--<img src="https://cdn.mypanel.link/0a268b/7lhwj4cnlpmbqnf1.png" alt=""> -->
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $250
                    </div>
                </div>
            </div>
            <!-- <div class="how-box-left">
               <span class="how-box-icon">

               </span>
             </div>
             <div class="how-box-right">
               <h3 class="how-box-title">Deposit</h3>
               <p class="how-box-txt txt">$250</p>
             </div> -->
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now
            </a>

        </div>
        <div class="col-sm-3 how-box">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
   <span class="f-sp">
10%
                        </span>
                    <!--<img src="https://cdn.mypanel.link/0a268b/7lhwj4cnlpmbqnf1.png" alt=""> -->
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $500
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
        <div class="col-sm-3 how-box1">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
   <span class="f-sp">
12.5%
                        </span>
                    <!-- <img src="https://cdn.mypanel.link/0a268b/7lhwj4cnlpmbqnf1.png" alt=""> -->
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $750
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
    </div>
    <div class="row boxx">
        <div class="col-sm-3 how-box">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
      <span class="f-sp">
                15%
                        </span>
                    <!-- <img src="https://cdn.mypanel.link/0a268b/7lhwj4cnlpmbqnf1.png" alt=""> -->
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        1000
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
        <div class="col-sm-3 how-box1">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
<span class="f-sp">
20%
                        </span>
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $5.000
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
        <div class="col-sm-3 how-box">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
 <span class="f-sp">
             20%
                        </span>
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $10.000
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
        <div class="col-sm-3 how-box1">
            <div class="d-flex dd-flex">
                <div class="flex-shrink-0">
<span class="f-sp">
                  30%
                        </span>
                </div>
                <div class="uper">
                    Deposit
                    <div class="dwn">
                        $50.000
                    </div>
                </div>
            </div>
            <a href="/addfunds" class="btn btn-primary bonus-btn">Deposit Now

            </a>

        </div>
    </div>
    {% if content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="well {% if site['rtl'] %} rtl-content {% endif %}">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
{% endif %}