<div class="body-content-wpr">
    <div class="page-content-overlay"></div>
    <div class="cming_soon_main">
        <div class="coming_sn_head">
            <h1>Coming Soon</h1>
            <p>This page is under construction. We can let you know when it is ready</p>
        </div>
        <div class="cmingsn_countdn_outter">
            <div class="cmingsn_countdn_wrap">
                <div class="each_cmingsn_count_col">
                    <div class="each_cmingsn_count">
                        03 <span>days</span>
                    </div>
                    <div class="each_dot">:</div>
                </div>
                <div class="each_cmingsn_count_col">
                    <div class="each_cmingsn_count">
                        14 <span>hours</span>
                    </div>
                    <div class="each_dot">:</div>
                </div>
                <div class="each_cmingsn_count_col">
                    <div class="each_cmingsn_count">
                        09 <span>minutes</span>
                    </div>
                    <div class="each_dot">:</div>
                </div>
                <div class="each_cmingsn_count_col">
                    <div class="each_cmingsn_count">
                        48 <span>seconds</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmingsn_notify_wrap">
            <form>
                <input type="email" placeholder="Your email">
                <div class="notifyBtn_wrap">
                    <input type="submit" value="Notify Me">
                </div>
            </form>
            <a href="#" class="backHome_btn">Return to home</a>
        </div>
    </div>
</div>