<div class="body-content-wpr">
    <div class="page-content-overlay"></div>
    <div class="faq-cntnt-sec">
        <div class="container faq-container">
            <h1 class="page-hdng">FAQ</h1>
            <div class="faq-outer-wpr">
                <div class="faq-row row new-row">
                    <div class="col-xs-12 col-md-6 faq-col">
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                How do I place an order?
                                <span class="faq-arrow">
                                                    <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                                </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    1. Sign up on Naizop.com </p>

                                <p> 2. Login with your registered username and password </p>

                                <p> 3. Add funds to your Naizop wallet </p>

                                <p> 4. Click new order </p>

                                <p> 5. Select the service you would like to purchase </p>

                                <p> 6. Enter the URL [Profile Must Be Public] </p>

                                <p> 7. Press Submit and enjoy your order! </p>




                                <p>

                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                What is drip-feed?
                                <span class="faq-arrow">
                                                    <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                                </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    Drip-Feed is a feature that allows you to place the same order multiple times on automation. </p>
                                <p>
                                    Example: Let's say you want 1000 likes on your post but not all at once. You want to get 200 likes every 30 minutes. </p>
                                <p>
                                    For this, you will put:
                                    Link: Link to your Post
                                    Quantity: 200
                                    Interval: 30 (Because you want 200 likes on your post every 30 minutes. If you want them every 2 hours, you will put 120, because the time is in minutes)
                                    Runs: 5 (Because you want to run this cycle 5 times). </p>
                                <p>
                                    You can do this with any service that has the drip-feed button available.
                                </p>
                                <p>

                                </p>
                                <p>

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                I did not receive my order. What do I do now?
                                <span class="faq-arrow">
                                                    <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                                </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    Please ensure the following criteria are met before placing an order to secure a successful delivery.
                                </p>
                                <p>
                                    • Your Instagram account is set to public.
                                    <br>
                                    • You have typed in the correct Instagram username.
                                    <br>
                                    • You have not changed your Instagram username before the order’s completion.
                                    <br>
                                    • The account or post, still exists and has not been deleted.
                                    <br>
                                    • The video follows Instagram’s guidelines and has not been restricted or removed.
                                    <br>
                                    • Allow 24 hours for completion of order delivery.
                                </p>
                                <p>
                                    If you have experienced an issue with the delivery of your order, please contact our support team for assistance.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                How do I use mass order?
                                <span class="faq-arrow">
                                                    <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                                </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    This feature allows you to place multiple orders at once. Thus, saving you time. </p>
                                <p>
                                    Here’s how you can use this feature:<br>
                                    1. Go to “mass order” page. <br>
                                    2. In the order box, put the service id, target link, and the quantity for each order in the following format: <br>
                                    Service id | Link | Quantity
                                </p>

                                <p>(For example: If you want to place orders for service 1569 and 8627, it will be:
                                    1569 | https://www.instagram.com/username/ | 9000 <br>
                                    8627 | https://www.tiktok.com/@therock/video/6829267836783971589?lang=en | 7500)
                                <p>
                                    3. Hit the “Submit” button. All orders will start at once.

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                Order statuses: On which stage is my order now?
                                <span class="faq-arrow">
                                                    <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                                </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    <b>Completed:</b> Your order is fully completed!<br>
                                    <b>Pending:</b> Your order is currently being redirected to the server. This will occur during the start time specified in the service description.<br>
                                    <b>In progress:</b> Your order is currently in progress and delivering.<br>
                                    <b>Processing:</b> Your order is currently being processed by the server.<br>
                                    <b>Canceled:</b> Your order has been stopped, and the money for it has been refunded to your balance.<br>
                                    <b>Partial:</b> Your order was stopped, and the money was refunded to your balance for the incomplete part of the order.<br>
                                    <b>Refilling:</b> Your order is refilling on the server.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                I accidentally entered wrong link/username. Can the order be canceled?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    Unfortunately, if the username/link is valid and the order has been submitted, it cannot be stopped. However, if the link is invalid (for example a youtube link in a TikTok service) then we can cancel and refund the order.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                How to get YouTube comment link?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    1. Find the timestamp that is located next to your username above your comment (for example: "3 days ago"). </p>
                                <p>
                                    2. Hover over it then right click and "Copy Link Address". (The link will be something like this: https://www.youtube.com/watch?v=12345&lc=a1b23etc instead of just https://www.youtube.com/watch?v=12345 )  </p>
                                <p>
                                    3. To be sure that you got the correct link, paste it in your browser's address bar and you will see that the comment is now the first one below the video and it says "Highlighted comment".
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 faq-col">
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                How do I contact support?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    You can contact our 24/7 available support team from the "support" page. Or simply by clicking the chat icon displayed on the bottom right side of your screen.

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                The link must be added before the user goes live or after?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    After the user goes live, or just 5 second before the live stream.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                How to add funds to my Naizop wallet?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    You can add funds by any of the methods which you can find in the "Add Funds" page. We accept all major payment methods: Visa/MasterCard/American Express, Cryptocurrency, Skrill, Perfect Money, Payeer, Bank Transfer, WebMoney, and etc...
                                </p>
                                <p>
                                    If you need a custom payment method, please contact our customer support team.

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                Can my account get banned or restricted after using Naizop services?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    No bans or restrictions - is one of the most important rules of our service. We care about our customers, and therefore carefully check each service for quality and safety. If you choose our Real services, then you can be 100% sure of their safety.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                What are Instagram impressions?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    On Instagram, impressions are the number of times a post, story, or ad is displayed to users. Impressions measure potential views, not how many people have seen the content. For example, if a post is shown to one user 13 times, it will have 13 impressions. It is mostly used by brands, they will ask you to show them the number of impressions your posts have.
                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                What are Instagram saves and what do they do?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    Instagram saves show how many users have savesd your post to view again later (by pressing the save button near the like button). The more saves your content gets, the more Instagram will display your posts to people. This can lead to more visibility for your brand and help you reach new users.

                                </p>
                            </div>
                        </div>
                        <div class="faq-card">
                            <div class="faq-hdng">
                                <img src="https://cdn.mypanel.link/0a268b/qzzbpu953asit2eh.webp" alt="">
                                Why was my order canceled?
                                <span class="faq-arrow">
                                            <img src="https://cdn.mypanel.link/0a268b/57jb1ypycr88mb6c.webp" alt="">
                                          </span>
                            </div>
                            <div class="faq-ans">
                                <p>
                                    The following factors can result in order cancellation:<br><br>
                                    • An invalid link was entered. (For example: A YouTube video link in an Instagram video views service)<br>
                                    • There's already an order underway for the same service with the exact same link.<br>
                                    • The content is for limited audience or there's privacy enabled on your account.<br>
                                    • The username of the target account has been changed.<br>
                                    • The content has been removed by the user.
                                    <br><br>
                                    You can check the order for the above mentioned issues and order again. If you still face cancellation, please contact our support team and they will quickly resolve the issue. Thanks.

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






<!-- <style>
.guest .navbar.navbar-default {
position: unset;
}
body {
background: url('https://cdn.mypanel.link/idhwx8/m8q9ttsifjhc8eyw.png') center center no-repeat;
background-color: #080707;
}
.page-content {
padding-top: 30px;
}
</style> -->
<!--
{#
<div class="page-content">
<div class="{% if user['auth'] %}container-fluid{% else %}container{% endif %}">
  <div class="row">
    <div class="{% if user['auth'] %}col-sm-9{% else %}col-md-10 col-md-offset-1{% endif %}">
      <div class="" style="display: block;">
        <h1 class="" {% if user['auth'] %}{% else %}style="left; border: 0;"{% endif %}><strong>FAQ</strong></h1>
      </div>
    </div>
  </div>
#}

  <div class="row">
    <div class="col-sm-10 {% if user['auth'] %}{% else %}col-md-offset-1{% endif %}">
      <div class="well2 {% if site['rtl'] %} rtl-content {% endif %}">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>How do I place an order?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p> 1. First you need to sign up on Naizop.com  </p>
                <p> 2. Login with your registered username and password </p>
               <p>  3. Add money to your Naizop wallet </p>
                <p>4. Click new order  </p>
                <p> 5. Select the service you would like to purchase  </p>
               <p> 6. Enter the URL [Profile Must Be Public]  </p>
                <p> 7. Place the order  </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>What is partial status?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <p> Partial status is when we partially refund the remains of an order. </p>
                <p></p>
                <p>  Sometimes we are unable to deliver a full order, so we refund you the remaining undelivered amount <p>
                <p> Example: You bought an order with a quantity of 1000 are charged $1, let's say we delivered 900 and the remaining 100 we couldn't deliver, we will then 'Partialy Refund' the order and reimburse you the remaining $100 [$0.10 in this example]. The funds will be added to your account balance account balance. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
				  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>Want free funds on Naizop?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <p> It's Easy! </p>
              <p> All you have to do is invite your Friends/Family with your referral link and you will receive 5% in funds from the amount of money spent by your referee. </p>
                <p>  We pay only for new customers. Any re-registration and abuse will be rejected and your referral account will be terminated.  </p>
              <p>  Still Not Sure? Contact Us Via Support </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h4">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c4" aria-expanded="false" aria-controls="c4">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>How do I mass order?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h4">
              <div class="panel-body">
                <p>  You put the service ID followed by | followed by the link followed by | followed by quantity on each line to get the service ID of a service please check here: https://naizop.com/services </p>
                <p> Let's say you want to use the Mass Order to add Instagram Followers to your 3 accounts: abcd ,asdf qwez </p>
                <p> From the Services List @ https://naizop.com/services the service ID for this service "Instagram Followers [REAL] is 102 </p>
                <p>  Let's say you want to add 1000 followers for each account, the output will be like this </p>
                <p>  ID|LINK|Quantity  <p>
                <p>  or in this example:  <p>
                <p>  102|abcd|1000   </p>
                <p> 102|asdf|1000  </p>
                <p>  102|qwez|1000  </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h5">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c5" aria-expanded="false" aria-controls="c5">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>Do I contact support?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h5">
              <div class="panel-body">
                <p>  For any query, you may create a <a href="https://naizop.com/tickets" target="_blank"><b>ticket</b></a> which is located on the drop down menu or alternatively you may wish to contact support through live chat.  </p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h6">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c6" aria-expanded="false" aria-controls="c6">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>How does dripfeed work?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h6">
			  <div class="panel-body">
				  <p> Runs - Number of cycles for an order to run</p>
				  <p> Interval - Break between each run - In minutes.</p>
				  <p>The basic formula 𝘄𝗼𝗿𝗸𝘀 𝗼𝗻 𝗤𝘂𝗮𝗻𝘁𝗶𝘁𝘆 x Runs</p>
				  <p>Example: Order of 1K with 2 runs and 1140 Mins [24H] Interval = 2K that will be split into 2 orders [Runs], 1K each and a 24H delay between each order [Interval] that will be split into 2 orders [runs], 1K each and a 24H delay between each order [Interval] </p>
				  <p>Interval at least 60 minutes +, else your orders might get stuck.</p>
			  </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h7">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c7" aria-expanded="false" aria-controls="c7">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>How can I buy Bitcoin using PayPal?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h7">
              <div class="panel-body">
                <p>You can <a href="https://paxful.com/buy-bitcoin/paypal" target="_blank">buy bitcoin</a> with PayPal using<a href="https://paxful.com/buy-bitcoin/paypal" target="_blank"><b> Paxful</b></a>
                  {#<a href="https://paxful.com/buy-bitcoin/paypal" target="_blank"></a>#}
                </p>
                <p><b>We also offer a 5% Bonus on deposits with Cryptocurrency!</b></p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h8">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c8" aria-expanded="false" aria-controls="c8">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>Why did my followers drop(go down)?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h8">
              <div class="panel-body">
                <p> Generally social media platforms update every few days, weeks or months to remove inactive accounts, because of this some numbers may drop. We have included this information in the description of our services where it states the amount of followers that it’s estimated to drop due to Instagram removing them.</p>
                <p>Since there is a good chance that your followers may drop, <b> we recommend the Permanent Follower Option or refill service </b>, all you need to do is go to naizop.com/orders and press the refill button unless you have automatic refill version in which you don’t have to do anything.</p>
              </div>
            </div>
          </div>
          {% if user['auth'] %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h8">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c8a" aria-expanded="false" aria-controls="c8">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>How do I find out about new service/updates?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c8a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h8">
              <div class="panel-body">
                <p> <b> New services updates are located at - </b>
                  <a href="https://naizop.com/update" target="_blank"><b> https://naizop.com/update</b></a>
                  </p>
                <p>On your order page click on your username and a drop down box will appear where updates are located. </p>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="h8">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#c8b" aria-expanded="false" aria-controls="c8">
                  <span class="faq-icon">
					<i class="fas fa-question"></i>
				  </span>Why was my order cancelled?
				  <svg width="40" height="40" class="tab-down" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<path d="M20 23L24 18H16L20 23Z" fill="white"/>
				  </svg>
				  <svg width="40" height="40" class="tab-open" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect width="40" height="40" rx="20" fill="#2F2F2F"/>
					<rect width="40" height="40" rx="20" fill="url(#paint0_radial_9401_29191)"/>
					<path d="M20 18L16 23H24L20 18Z" fill="white"/>
					<defs>
					<radialGradient id="paint0_radial_9401_29191" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(20 -194) rotate(90) scale(278)">
					<stop stop-color="#005AE2"/>
					<stop offset="1" stop-color="#3A4351" stop-opacity="0"/>
					</radialGradient>
					</defs>
				  </svg>
                </a>
              </h4>
            </div>
            <div id="c8b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="h8">
              <div class="panel-body">
                <p> We understand that if your order is cancelld automatically is frustrating. This can happen for the following reasons:



                  You entered the wrong url or format.
                  Old followers/likes are dropping.
                  You have used the maximum limit of base on the particular service.
                  There are major update in the social media platform.

                  We endevour to solve issues as quickly as possible. Please contact us should you have any questions with regards to cancelled orders.

                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
-->
