<div class="body-content-wpr">
    <div class="page-content-overlay"></div>
    <div class="vipresward_subtitle">
        <span>Support -</span>
        <p>View Ticket</p>
    </div>
    <h1 class="page-hdng">View Ticket</h1>
    <div class="row new-row viewTicket_rw">
        <div class="support_chat_col">
            <div class="cmn_gray_bg support_chat_bx">
                <h2>Chat with Support</h2>
                <div class="chat_body">
                    <div class="noChat_wpr">
                        <span class="noChat_icon"><img src="https://cdn.mypanel.link/idhwx8/c5nxrddymnuhwldp.png" alt=""></span>
                        <p>No messages here yet...</p>
                    </div>
                </div>
                <div class="chat_fttr">
                    <form>
                        <label>Your message</label>
                        <textarea placeholder="Enter your message..."></textarea>
                        <div class="chat_submitBtn_wrp">
                            <input type="submit" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="ticket_details_col">
            <div class="cmn_gray_bg ticket_details_wpr">
                <h2>Ticket Details</h2>
                <div class="popup_order_main">
                    <div class="popup_order_rw">
                        <div class="popup_order_col">
                            <p><span class="popUp_table_title">Subject</span></p>
                        </div>
                        <div class="popup_order_col">
                            <p>Order</p>
                        </div>
                    </div>
                    <div class="popup_order_rw">
                        <div class="popup_order_col">
                            <p><span class="popUp_table_title">Ticket ID</span></p>
                        </div>
                        <div class="popup_order_col">
                            <p>#753</p>
                        </div>
                    </div>
                    <div class="popup_order_rw">
                        <div class="popup_order_col">
                            <p><span class="popUp_table_title">Request</span></p>
                        </div>
                        <div class="popup_order_col">
                            <p>Refill</p>
                        </div>
                    </div>
                    <div class="popup_order_rw">
                        <div class="popup_order_col">
                            <p><span class="popUp_table_title">Response Time</span></p>
                        </div>
                        <div class="popup_order_col">
                            <p>0-4 H</p>
                        </div>
                    </div>
                    <div class="popup_order_rw">
                        <div class="popup_order_col">
                            <p><span class="popUp_table_title">Ticket Status</span></p>
                        </div>
                        <div class="popup_order_col">
                            <p>Answered</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>