<style>
    .btn.btn-primary {
        height: 50px;
        width: 100%;
        border-radius: 30px;
        background: -o-linear-gradient(left, #85F7E2 20%, #FFB60E 130%);
        background: -webkit-gradient(linear, left top, right top, color-stop(20%, #85F7E2), color-stop(130%, #FFB60E));
        background: linear-gradient(to right, #85F7E2 20%, #FFB60E 130%);
        font-size: 20px;
        font-weight: 700;
        color: #070B20;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
        -webkit-transition: .5s all;
        -o-transition: .5s all;
        transition: .5s all;
        border: none;
        margin-bottom: 10px;
        padding:0;
    }
</style>

<div class="signup-sec">
    <div class="bg-overlay">
        <img src="https://cdn.mypanel.link/idhwx8/m22zcr8zuh13msq2.png" alt="">
    </div>
    <div class="signup-cntnt">
        <div class="container">
            <div class="signup-row row new-row">
                <div class="col-xs-12 col-md-6 signup-lft-col">
                    <div class="banner-cntnt">
                        <h1>Buy likes followers views</h1>
                        <h2>NAIZOP</h2>
                        <p>
                            is the <strong>most reliable</strong> panel on the market with <span>529.122</span> orders until now
                        </p>
                        <div class="banner-point-txt">
                            <ul>
                                <li>Unbelievable Costs</li>
                                <li>Boost and Promote Your Social Media Accounts</li>
                                <li>With us, you will always be on top of social media.</li>
                            </ul>
                        </div>
                        <div class="banner-btn-wpr">
                            <a href="#" class="grd-btn">
                                Get started now
                                <img src="https://cdn.mypanel.link/idhwx8/e9pj1ulhcxc8k0zm.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 signup-rht-col">
                    <div class="signup-right-cntnt">
                        <h2 class="cmn_login_heading">Reset password</h2>
                        <div class="rgstr-form-wpr">
                            {% if site['resetPassword'] %}
                                <form {% if site['rtl'] %}class="rtl-form"{% endif %} method="post" action="">
                                    {% if error %}
                                        <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ errorMessage }}
                                        </div>
                                    {% endif %}
                                    {% if success %}
                                        <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            {{ successText }}
                                        </div>
                                    {% endif %}
                                    <div class="login_frm_wrp">
                                        <label for="email" class="control-label">E-mail Address</label>
                                        <input type="email" id="email" name="ResetPasswordForm[email]" placeholder="Enter your e-mail...">
                                    </div>
                                    {% if site['captcha'] %}
                                        {{ captchaCode }}
                                    {% endif %}
                                    <div class="login_frmBtn_wrap">
                                        <button type="submit" class="btn btn-primary">Send Instruction</button>
                                        <input type="hidden" name="_csrf" value="{{csrftoken}}">
                                        <a class="cmn-border-btn" href="/">Back to Log In</a>
                                    </div>
                                </form>
                            {% endif %}
                            {#
                            <form>
                              <!-- STATIC CODE START -->
                              <div class="login_frm_wrp">
                                <label for="username">E-mail Address</label>
                                <input type="text" placeholder="Enter your e-mail...">
                              </div>
                              <div class="login_frmBtn_wrap">
                                <input type="submit" value="Send Instruction" />
                                <a class="cmn-border-btn" href="/">
                                  Back to Log In
                                </a>
                              </div>
                              <!-- STATIC CODE END -->
                            </form>
                            #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>