@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost&family=Raleway:wght@100&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  overflow-x: hidden;
}

body.guest {
  background: #080707;
  font-family: "Inter", sans-serif;
  font-style: normal;
  min-height: 100vh;
  overflow-x: hidden;
  min-width: 360px;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.3s;
}
.burger-menu .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
@media all and (max-width: 768px) {
  .header {
    align-items: center;
    padding: 10px 25px;
  }
}
.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 1;
}
.header-logotype {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header-logotype {
    width: 32px;
    height: 32px;
  }
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media all and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
.header-nav li {
  display: flex;
}
.header-nav li a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 56px;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0 24px;
  transition: border ease 0.3s, color ease 0.3s;
  color: #707476;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  font-family: "Space Grotesk", sans-serif;
}
.header-nav li a.active, .header-nav li a:hover {
  border-left: 1px solid rgb(255, 255, 255);
  color: #fff;
}
.header-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .header-buttons {
    gap: 8px;
  }
  .header-buttons a {
    font-size: 12px;
  }
}

@media all and (max-width: 768px) {
  .header-nav.show {
    position: fixed;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.98);
  }
  .header-nav.show li a {
    border-left: none;
    align-items: center;
  }
  .burger-menu {
    display: flex;
  }
}
.header-nav.show + .burger-menu {
  position: fixed;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  color: white;
  border-radius: 32px;
  transition: color ease 0.3s, border ease 0.3s, background ease 0.3s;
  cursor: pointer;
}

.btn-md {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 16px;
}

.btn-header {
  font-weight: 800;
}

.btn-white {
  color: #080707;
  background: white;
}
.btn-white:hover {
  color: #ffffff;
  background: #005AE2;
}

.btn-blue {
  color: white;
  background: #277DFF;
}
.btn-blue:hover {
  background: #579AFF;
}
.btn-blue:active {
  background: #1760CE;
}

.btn-gradient-icon {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 9999px;
  background: radial-gradient(821.99% 271.24% at -36.22% 213.33%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%), #277DFF;
  color: #080707;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.btn-gradient-icon svg {
  width: 24px;
  height: 16px;
  stroke-width: 4px;
  stroke: #080707;
}

.btn-bordered {
  border: 2px solid white;
}
.btn-bordered.btn-md {
  padding: 10px 24px;
}
.btn-bordered:hover {
  background: white;
  color: #080707;
}

.btn-gradient {
  color: #070B20;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  padding: 20px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  position: relative;
  background: radial-gradient(821.99% 271.24% at -36.22% 213.33%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%);
}
.btn-gradient:hover:before {
  opacity: 0.25;
}
.btn-gradient::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
  transition: opacity ease 0.3s;
}

.main {
  padding-top: 120px;
  position: relative;
}
@media all and (max-width: 768px) {
  .main {
    padding: 30px 25px 0;
  }
}
.main:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 848px;
  background: url("/assets/images/main-bg.webp") no-repeat center/cover;
  z-index: -1;
}
.main-email {
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  width: max-content;
}
@media screen and (max-width: 768px) {
  .main-email {
    width: 100%;
    flex-direction: column;
  }
  .main-email a {
    width: 100%;
  }
  .main-email .main-input {
    width: 100%;
  }
  .main-email .main-input input {
    width: 100%;
  }
}
.main-input {
  position: relative;
}
.main-input input {
  display: flex;
  padding: 20px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: rgba(30, 33, 36, 0.25);
  backdrop-filter: blur(120px);
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  outline: none;
  border: none;
  transition: border ease 0.3s, background-color ease 0.3s;
  -moz-appearance: textfield;
}
.main-input input::-webkit-outer-spin-button, .main-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main-input input:focus {
  border: none;
  background: rgba(44, 48, 52, 0.25);
}
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 64px;
}
@media all and (max-width: 768px) {
  .main-content {
    justify-content: center;
    margin-bottom: 32px;
    flex-direction: column;
  }
}
.main-content__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50%;
}
@media all and (max-width: 768px) {
  .main-content__left {
    align-items: center;
    gap: 30px;
    width: 100%;
  }
}
.main-content__right {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.main-content__right img {
  position: absolute;
  width: 869px;
  top: -130px;
  pointer-events: none;
}
@media all and (max-width: 1024px) {
  .main-content__right {
    width: 25%;
    height: 50%;
  }
}
@media all and (max-width: 768px) {
  .main-content__right {
    height: 208px;
    width: 100%;
  }
  .main-content__right img {
    width: 100%;
    bottom: -16px;
    z-index: -1;
  }
}
.main-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main-title h2 {
  font-size: 62px;
  font-weight: 700;
  line-height: 125%;
  background: radial-gradient(200% 300% at 0% 150%, #FFF -150%, #85F7E2 35%, #FFB60E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk", sans-serif;
}
@media all and (max-width: 768px) {
  .main-title h2 {
    font-size: 44px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.main-title p {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main-title p {
    text-align: center;
  }
}
.main-title p span {
  color: #FFBE27;
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
}
.main-features {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #DAE9FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  .main-features {
    flex-direction: column;
  }
}
.main-features li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.main-features svg {
  fill: #FFBE27;
}

.icon {
  width: 16px;
  height: 16px;
  transition: fill ease 0.3s;
}

@media all and (max-width: 768px) {
  .stats {
    padding: 0 25px;
  }
}
.stats-content {
  position: relative;
  display: flex;
  width: 100%;
  padding: 56px 0;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(64px);
  font-family: "Space Grotesk", sans-serif;
}
.stats-content:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/images/pattern.svg") no-repeat;
  pointer-events: none;
}
@media all and (max-width: 768px) {
  .stats-content {
    padding: 28px 0;
    flex-direction: column;
  }
}
.stats-content li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.stats-content li:not(:last-child) {
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}
.stats-content li h4 {
  color: #FFBE27;
  text-shadow: 0 0 32px rgba(255, 190, 39, 0.25);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.stats-content li p {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.content-title {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
@media all and (max-width: 768px) {
  .content-title {
    text-align: center;
  }
}

.benefits {
  position: relative;
  z-index: 1;
}
.benefits-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  padding: 64px 0 0;
  gap: 32px;
}
@media all and (max-width: 768px) {
  .benefits-content {
    padding: 32px 25px;
    gap: 16px;
  }
}
.benefits-content-column {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
@media all and (max-width: 768px) {
  .benefits-content-column {
    flex-direction: column;
  }
}
.benefits-content-column-cart {
  position: relative;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background: rgba(255, 255, 255, 0.07) url("../../images/benefits-cart-bg.svg");
  backdrop-filter: blur(64px);
  transition: background ease 0.3s;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .benefits-content-column-cart {
    flex: 1 1 0;
  }
}
.benefits-content-column-cart:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(378.77% 373.42% at -54.69% 174.26%, #FFF 0%, #85F7E2 47.4%, #FFB60E 100%), #1F2329;
  z-index: -1;
  opacity: 0;
  transition: opacity ease 0.3s;
}
.benefits-content-column-cart:hover:before {
  opacity: 1;
}
.benefits-content-column-cart:hover:hover .benefits-content-column-cart__title {
  color: #080707;
}
.benefits-content-column-cart:hover:hover .benefits-content-column-cart__description {
  color: #080707;
  opacity: 0.65;
}
.benefits-content-column-cart:hover:hover .line {
  opacity: 0.25;
  background: #080707;
}
.benefits-content-column-cart:hover:hover svg {
  fill: #080707;
}
@media all and (max-width: 768px) {
  .benefits-content-column-cart {
    align-items: center;
  }
}
.benefits-content-column-cart svg {
  width: 32px;
  height: 32px;
  fill: white;
  transition: fill ease 0.3s;
}
.benefits-content-column-cart__title {
  align-self: stretch;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  line-height: 150%;
  transition: color ease 0.3s;
  white-space: pre-line;
}
@media all and (max-width: 768px) {
  .benefits-content-column-cart__title {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    white-space: nowrap;
  }
}
.benefits-content-column-cart .line {
  height: 1px;
  opacity: 0.25;
  background: #FFF;
  transition: background-color ease 0.3s;
  width: 100%;
}
.benefits-content-column-cart__description {
  font-size: 16px;
  color: #DAE9FF;
  font-weight: 400;
  line-height: 150%;
  transition: color ease 0.3s;
}

.started {
  position: relative;
  z-index: 2;
}
.started-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  gap: 64px;
  padding: 64px 0;
}
.started-content-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.started-content-up-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.started-content-up-titles__subtitle {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  max-width: 648px;
  text-align: center;
}
.started-content-up-column {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
@media screen and (max-width: 768px) {
  .started-content-up-column {
    flex-direction: column;
  }
}
.started-content-up-column-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  transition: background-color ease 0.3s;
  padding: 24px 0;
}
@media screen and (max-width: 768px) {
  .started-content-up-column-cart {
    border-right: unset;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
}
.started-content-up-column-cart:hover {
  background: rgba(255, 255, 255, 0.05);
}
.started-content-up-column-cart:last-child {
  border-right: none;
}
.started-content-up-column-cart svg {
  width: 32px;
  height: 32px;
  fill: white;
}
.started-content-up-column-cart-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
.started-content-up-column-cart-titles__title {
  color: #FFF;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
}
.started-content-up-column-cart-titles__description {
  color: #FFF;
  text-align: center;
  align-self: stretch;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}
.started-content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.started-content-buttons p {
  color: #FFF;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.works {
  position: relative;
  margin-bottom: 64px;
  z-index: 1;
}
.works:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1364px;
  background: url("/assets/images/hiw_bg.webp") no-repeat center/cover;
  z-index: -3;
}
.works-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}
@media all and (max-width: 1200px) {
  .works-content {
    padding: 0 25px;
  }
}
.works-content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}
.works-content-main-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
@media all and (max-width: 768px) {
  .works-content-main-column {
    flex-direction: column;
  }
}
.works-content-main-column-cart {
  display: flex;
  padding: 40px 32px 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  border-right: 1px solid #080707;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  overflow: hidden;
}
.works-content-main-column-cart:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 106px;
  flex-shrink: 0;
  border-radius: 326px;
  filter: blur(125px);
  bottom: -32px;
}
.works-content-main-column-cart.yellow:before {
  background: #DC812D;
}
.works-content-main-column-cart.green:before {
  background: #2DDC88;
}
.works-content-main-column-cart.pink:before {
  background: #C32DDC;
}
.works-content-main-column-cart.blue:before {
  background: #2D53DC;
}
@media all and (max-width: 768px) {
  .works-content-main-column-cart {
    justify-content: center;
  }
}
.works-content-main-column-cart:first-child {
  border-radius: 20px 0 0 20px;
}
@media all and (max-width: 768px) {
  .works-content-main-column-cart:first-child {
    border-radius: 20px 20px 0 0;
  }
}
.works-content-main-column-cart:last-child {
  border-right: none;
  border-radius: 0 20px 20px 0;
}
@media all and (max-width: 768px) {
  .works-content-main-column-cart:last-child {
    border-radius: 0 0 20px 20px;
  }
}
.works-content-main-column-cart__title {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.works-content-main-column-cart__description {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.works-content-main-column-cart img {
  height: 208px;
  align-self: stretch;
}
@media all and (max-width: 1200px) {
  .works-content-main-column-cart img {
    height: 50%;
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .works-content-main-column-cart img {
    height: 50%;
    width: 25%;
    margin: 0 auto;
  }
}

.reviews {
  position: relative;
  z-index: 1;
}
@media all and (max-width: 768px) {
  .reviews {
    padding: 25px;
  }
}
.reviews-content {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  align-self: stretch;
}
.reviews-content-column {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
@media screen and (max-width: 768px) {
  .reviews-content-column {
    flex-direction: column;
    gap: 16px;
  }
}
.reviews-content-column-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}
.reviews-content-column-cart-icon {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  border-right: 1px solid #080707;
  background: rgba(255, 255, 255, 0.05);
}
.reviews-content-column-cart-icon svg {
  fill: white;
  width: 24px;
  height: 24px;
}
.reviews-content-column-cart-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.reviews-content-column-cart-titles__title {
  color: #FFF;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  max-width: 236px;
}
.reviews-content-column-cart-titles__description {
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  max-width: 236px;
}
.reviews-content-container {
  position: relative;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
}
.reviews-content-container-list {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
}
.reviews-content-container-list-item {
  display: flex;
  padding: 40px 32px 24px 32px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 20px;
  border-right: 1px solid #080707;
  background: rgba(255, 255, 255, 0.05);
}
.reviews-content-container-list-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.reviews-content-container-list-item-content-up {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.reviews-content-container-list-item-content-up__title {
  flex: 1 0 0;
  color: #FFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
}
.reviews-content-container-list-item-content-up-starlist {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.reviews-content-container-list-item-content-up-starlist svg {
  fill: #24E476;
  width: 12px;
  height: 12px;
}
.reviews-content-container-list-item-content__description {
  align-self: stretch;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
.reviews-content-container-list-item-customer {
  display: flex;
  width: 262.286px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.reviews-content-container-list-item-customer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-content-container-list-item-customer-info svg {
  width: 24px;
  height: 24px;
}
.reviews-content-container-list-item-customer-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.reviews-content-container-list-item-customer-info-data__name {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.reviews-content-container-list-item-customer-info-data__date {
  color: #FFF;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.25;
}
.reviews-content-container-list-item-customer-checked {
  display: flex;
  align-items: center;
  gap: 8px;
}
.reviews-content-container-list-item-customer-checked__title {
  color: #FFF;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  opacity: 0.25;
}
.reviews-content-container-list-item-customer-checked svg {
  width: 12px;
  height: 12px;
  fill: #70D2E8;
}

.info {
  position: relative;
  z-index: 1;
}
.info:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1364px;
  background: url("/assets/images/cta_bg.webp") no-repeat center/cover;
  z-index: -1;
  pointer-events: none;
}
.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  margin-bottom: 64px;
}
.info-content-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.info-content-titles__description {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  max-width: 324px;
}
.info-content-titles__description span {
  color: #FFB60E;
  font-size: 16px;
  font-weight: 900;
  line-height: 150%;
}
.info-content-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}
@media screen and (max-width: 768px) {
  .info-content-text {
    flex-direction: column;
  }
}
.info-content-text-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.info-content-text-item svg {
  width: 12px;
  height: 12px;
  fill: #FFF;
}
.info-content-text-item__title {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
}

.faq {
  position: relative;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .faq {
    padding: 0 25px;
  }
}
.faq-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  margin-bottom: 64px;
}
.faq-content-questions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
@media all and (max-width: 768px) {
  .faq-content-questions {
    flex-direction: column;
    align-items: center;
  }
}
.faq-content-questions-left, .faq-content-questions-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
}
@media all and (max-width: 768px) {
  .faq-content-questions-left, .faq-content-questions-right {
    width: 100%;
  }
}
.faq-content-questions-left-item, .faq-content-questions-right-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  height: auto;
  max-height: 64px;
  overflow: hidden;
  transition: max-height ease 0.3s;
}
.faq-content-questions-left-item summary, .faq-content-questions-right-item summary {
  padding: 16px;
}
.faq-content-questions-left-item-left, .faq-content-questions-right-item-left {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.faq-content-questions-left-item-left-icon, .faq-content-questions-right-item-left-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.faq-content-questions-left-item-left-icon svg, .faq-content-questions-right-item-left-icon svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.faq-content-questions-left-item-left__title, .faq-content-questions-right-item-left__title {
  color: #FFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  flex: 1 1 0;
}
.faq-content-questions-left-item-left-right, .faq-content-questions-right-item-left-right {
  display: flex;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}
.faq-content-questions-left-item-left-right svg, .faq-content-questions-right-item-left-right svg {
  width: 8px;
  height: 8px;
  fill: white;
}
.faq-content-questions-left-item-description, .faq-content-questions-right-item-description {
  display: flex;
  padding: 0 16px 16px 26px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  transition: height ease 0.3s;
}
.faq-content-questions-left-item-description__text, .faq-content-questions-right-item-description__text {
  display: flex;
  padding-left: 28px;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--Pure-colors-White, #FFF);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

details[open] {
  max-height: 320px;
}
details[open] summary .faq-content-questions-left-item-left-right svg, details[open] summary .faq-content-questions-right-item-left-right svg {
  transform: rotate(180deg);
}

.footer {
  background: #000;
  position: relative;
  z-index: 1;
}
@media all and (max-width: 1200px) {
  .footer {
    padding: 0 25px;
  }
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content-top {
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid rgba(197, 235, 255, 0);
  background: var(--Pure-colors-Black, #000);
  backdrop-filter: blur(40px);
}
@media all and (max-width: 1130px) {
  .footer-content-top {
    flex-direction: column;
    align-items: center;
    gap: 29px;
  }
}
.footer-content-top-left {
  display: flex;
  align-items: flex-start;
  gap: 58px;
}
@media all and (max-width: 1130px) {
  .footer-content-top-left {
    flex-direction: column;
    align-items: center;
    gap: 29px;
  }
}
.footer-content-top-left-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-content-top-left-logo-img {
  width: 26px;
  height: 38px;
}
.footer-content-top-left-logo__title {
  color: #FFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.footer-content-top-left-column {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
@media all and (max-width: 530px) {
  .footer-content-top-left-column {
    flex-direction: column;
    align-items: center;
  }
}
.footer-content-top-left-column-explore, .footer-content-top-left-column-services {
  display: flex;
  width: 180px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 20px;
  background: rgba(31, 35, 41, 0.5);
}
.footer-content-top-left-column-explore__title, .footer-content-top-left-column-services__title {
  color: #FFF;
  font-family: "Space Grotesk", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.footer-content-top-left-column-explore-links, .footer-content-top-left-column-services-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.footer-content-top-left-column-explore-links-item, .footer-content-top-left-column-services-links-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer-content-top-left-column-explore-links-item:hover p, .footer-content-top-left-column-services-links-item:hover p {
  color: white;
}
.footer-content-top-left-column-explore-links-item:hover svg, .footer-content-top-left-column-services-links-item:hover svg {
  fill: white;
}
.footer-content-top-left-column-explore-links-item p, .footer-content-top-left-column-services-links-item p {
  color: #686E73;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  transition: color ease 0.3s;
}
.footer-content-top-left-column-explore-links-item svg, .footer-content-top-left-column-services-links-item svg {
  fill: #686E73;
  width: 8.5px;
  height: 8.5px;
  transition: fill ease 0.3s;
}
.footer-content-top-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
@media all and (max-width: 1130px) {
  .footer-content-top-right {
    flex-direction: column;
    align-items: center;
  }
}
.footer-content-top-right-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}
.footer-content-top-right-social__title {
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  opacity: 0.25;
}
.footer-content-top-right-social-link:hover svg {
  fill: white;
}
.footer-content-top-right-social svg {
  width: 24px;
  height: 24px;
  fill: #495059;
  transition: fill ease 0.3s;
}
.footer-content-top-right-payments {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-content-top-right-payments-up, .footer-content-top-right-payments-down {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.footer-content-top-right-payments-up-icon, .footer-content-top-right-payments-down-icon {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-content-top-right-payments-up svg {
  width: 36px;
  height: 11px;
  flex-shrink: 0;
}
.footer-content-top-right-payments-down svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.footer-content-bottom {
  display: flex;
  padding: 16px 0;
  align-items: center;
  gap: 325px;
  align-self: stretch;
  border-top: 1px solid rgba(197, 235, 255, 0);
  background: var(--Pure-colors-Black, #000);
  backdrop-filter: blur(40px);
}
@media all and (max-width: 1130px) {
  .footer-content-bottom {
    justify-content: center;
  }
}
.footer-content-bottom__copy {
  color: var(--Pure-colors-White, #FFF);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.5;
}

.owl-carousel .owl-stage-outer {
  /* override */
  overflow: initial !important;
}

#bodyContent {
  /* override */
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
